USE [DADOSFIDC]
GO
/****** Object:  UserDefinedFunction [dbo].[FNC_AO_POSIT]    Script Date: 2021-07-30 18:22:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[FNC_AO_POSIT]
(
	@EMPRESA VARCHAR(4),
	@TIPCLI VARCHAR(1),
	@CODCLI VARCHAR(6),
	@LOJCLI VARCHAR(2),
	@DATA_DE VARCHAR(8),
	@DATA_ATE VARCHAR(8),
	@TIPCAL VARCHAR(1),
	@TIPFIL VARCHAR(1),
	@PACOTE VARCHAR(50) = '',
	@FORMAT VARCHAR(50) = ''
)
RETURNS NUMERIC(18,2)
AS
BEGIN

DECLARE @POSIT NUMERIC(18,2)
DECLARE @RESULT NUMERIC(18,2)

SET @POSIT = 0

--metodo query on-line - somente se nao achar na base GMR
IF (@POSIT = 0)
BEGIN

	WITH TAB_VENDA AS (

	SELECT	
		A1_COD
		,A1_LOJA
		,A1_GRPVEN
		,D2_COD
		,POSIT = 1
		
	FROM VW_SD2 SD2, SA1010 SA1, SB1010 SB1
	WHERE 
		SD2.D2_FILIAL = '01'
		AND SA1.A1_FILIAL = '  '
		AND SA1.A1_COD = SD2.D2_CLIENTE
		AND SA1.A1_LOJA = SD2.D2_LOJA
		AND SB1.B1_FILIAL = '  '
		AND SB1.B1_COD = SD2.D2_COD
		AND SB1.B1_YEXCL = 'E'				--MATRIZ GALLERIA
		AND SD2.D2_EMISSAO <= SB1.B1_YDVLGL --VALIDADE MATRIZ GALLERIA 
		
		AND (
			(SubString(@EMPRESA,3,2)<>'XX' AND SD2.D2_YEMP = @EMPRESA) OR
			(SubString(@EMPRESA,3,2)='XX' AND SubString(SD2.D2_YEMP,1,2) = SubString(@EMPRESA,1,2))
		) 
		AND SD2.D2_COD >= 'A'
		AND SD2.D2_EMISSAO >= @DATA_DE
		AND SD2.D2_EMISSAO <= @DATA_ATE
		AND SD2.F4_DUPLIC  = 'S'
		AND SD2.D2_TP      = 'PA'		
		AND (((@TIPCLI = '1') AND (SA1.A1_COD = @CODCLI and SA1.A1_LOJA = @LOJCLI))
			OR((@TIPCLI = '2') AND (SA1.A1_GRPVEN = @CODCLI))
			OR((@TIPCLI = '3') AND (SA1.A1_YREDCOM = @CODCLI)))
		
		AND ((@TIPFIL <> '1') OR (SB1.B1_YCLASSE = '1'))

		AND ((@PACOTE = '') OR (@PACOTE like '%'+SB1.B1_YPCGMR3+'%'))

		AND ((@FORMAT = '') OR (@FORMAT like '%'+SB1.B1_YFORMAT+'%'))

		AND SA1.D_E_L_E_T_ = ' '
		AND SB1.D_E_L_E_T_ = ' '
			
	GROUP BY A1_COD, A1_LOJA, A1_GRPVEN, D2_COD

	UNION ALL

	SELECT      
		A1_COD
		,A1_LOJA
		,A1_GRPVEN
		,D1_COD
		,POSIT = -1

	FROM VW_SD1 SD1, SA1010 SA1, SB1010 SB1
	WHERE
		SD1.D1_FILIAL = '01'
		AND SD1.D1_FORNECE    = SA1.A1_COD      
		AND SD1.D1_LOJA       = SA1.A1_LOJA 
		AND SB1.B1_FILIAL = '  '
		AND SB1.B1_COD = SD1.D1_COD    
		AND SB1.B1_YEXCL = 'E'				 --MATRIZ GALLERIA
		AND SD1.D1_DTDIGIT <= SB1.B1_YDVLGL  --VALIDADE MATRIZ GALLERIA 
		
		--AND SD1.D1_YEMP = @EMPRESA
		AND (
			(SubString(@EMPRESA,3,2)<>'XX' AND SD1.D1_YEMP = @EMPRESA) OR
			(SubString(@EMPRESA,3,2)='XX' AND SubString(SD1.D1_YEMP,1,2) = SubString(@EMPRESA,1,2))
		) 

		AND SD1.D1_DTDIGIT >= @DATA_DE
		AND SD1.D1_DTDIGIT <= @DATA_ATE
		AND SD1.D1_TP         = 'PA'
		AND SD1.F4_DUPLIC = 'S'
		
		AND (((@TIPCLI = '1') AND (SA1.A1_COD = @CODCLI and SA1.A1_LOJA = @LOJCLI))
			OR((@TIPCLI = '2') AND (SA1.A1_GRPVEN = @CODCLI))
			OR((@TIPCLI = '3') AND (SA1.A1_YREDCOM = @CODCLI)))

		AND ((@TIPFIL <> '1') OR (SD1.B1_YCLASSE = '1'))

		AND ((@PACOTE = '') OR (@PACOTE like '%'+SB1.B1_YPCGMR3+'%'))
			
		AND ((@FORMAT = '') OR (@FORMAT like '%'+SB1.B1_YFORMAT+'%'))

		AND SA1.D_E_L_E_T_    = ' '
		AND SB1.D_E_L_E_T_ = ' ' 
		
	GROUP BY A1_COD, A1_LOJA, A1_GRPVEN, D1_COD

	)

	SELECT @POSIT = (SELECT SUM(POSIT) FROM TAB_VENDA)
		
END

IF (@TIPCAL = 'R')
	SET @RESULT = @POSIT
ELSE
	SET @RESULT = @POSIT
		
RETURN @RESULT

END
