@model Facile.BusinessPortal.Model.TempoDescarregamento
@using Facile.BusinessPortal.Model

@{
    ViewData["Title"] = "Tempo de Descarregamento";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-action="Index">Listagem</a>
    </li>
    <li class="breadcrumb-item active">tempo de descarregamento</li>
</ol>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Novo Tempo de descarregamento
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="FormCad" accept-charset="UTF-8" asp-action="Create" method="POST">

                        @if (ViewContext.ViewData.ModelState.ErrorCount > 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                @foreach (var item in ViewContext.ViewData.ModelState)
                                {
                                    if (item.Value.Errors.Any())
                                    {
                                        <p>@(string.Join("", item.Value.Errors.Select(x => x.ErrorMessage)))</p>
                                    }
                                }
                            </div>
                        }

                        
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="simpleinput">Tipo Veiculo</label>
                                <select class="form-control select2-select" asp-for="TipoVeiculoID" asp-items="@ViewBag.ListaTipoVeiculo">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="simpleinput">Tipo Produto</label>
                                <select class="form-control select2-select" asp-for="TipoProdutoID" asp-items="@ViewBag.ListaTipoProduto">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label" for="simpleinput">Tempo Gasto</label>
                                <input asp-for="TempoGasto" step="0.1" type="number" id="" class="form-control">
                            </div>
                        </div>
                    </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="custom-control custom-checkbox mr-2 mr-lg-2 d-inline-block">
                                    <input asp-for="Habilitado" type="checkbox" class="custom-control-input" id="Habilitado">
                                    <label class="custom-control-label bolder" for="Habilitado"> Habilitado</label>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-2 text-right">
                            <div class="col-md-12">
                                <a asp-action="Index" class="btn btn-secondary shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed">Listagem</a>
                                <button type="submit" class="btn btn-success shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed">Salvar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {

            $('input[name="Habilitado"]').on('click',
                function () {
                    $(this).val($(this).prop('checked'));
                }
            );

        });
    </script>
}