@model Facile.BusinessPortal.Model.PedidoCompra
@using Facile.BusinessPortal.Model

@{
    ViewData["Title"] = "";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Detalhes Pedido de Compra
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <!-- class="bg-highlight"-->
                    <table id="dt-registro" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Chave NFE</th>
                                <th>Número/Série</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.NotaFiscais)
                            {
                            <tr>
                                <th>@item.ChaveNFE</th>
                                <th>@item.Numero / @item.Serie</th>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}