@using Facile.BusinessPortal.BusinessRules.Session

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
    <title></title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/app.bundle.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/smartadmin/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/smartadmin/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/smartadmin/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Optional: page related CSS-->
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/fa-brands.css">
</head>
<body>
    <!-- DOC: script para carregar e definir o Thema de cores da aplicação -->
    <script>
        var theme = '@(SessionSettings.Empresa_Theme_Path)';
    </script>
    <script src="~/js/Tema.js" asp-append-version="true"></script>
    <!-- fim -->

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
