@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-primary">
    <div class="d-flex flex-start w-100">
        <div class="mr-2 hidden-md-down">
            <span class="icon-stack icon-stack-lg">
                <i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
            </span>
        </div>
        <div class="d-flex flex-fill">
            <div class="flex-fill">
                <span class="h5">Mensagem:</span>
                <div class="row mb-3">
                    <div class="col-xl-12">
                        @ViewBag.Mensagem
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.ClosePage) {
<script>
    window.close();
</script>
}