@model IEnumerable<Facile.BusinessPortal.Model.NotaFiscalCompra>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Lista de nota fiscais compras";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Nota fiscais de compras
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <!-- class="bg-highlight"-->
                    <!-- class="bg-highlight"-->
                    <table id="dt-registro" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Chave NFe</th>
                                <th>Número/Série</th>
                                <th>Dt. Emissão</th>
                                <th width="20%">Produto</th>
                                <th>Status Agen.</th>
                                <th>Status Ped.</th>
                                <th>Tipo Frete</th>
                                <th>Status Trans.</th>
                                <th width="6%">Ações</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="FieldSearch" value="">
<a href="@Url.Action("Agendado", "NotaFiscalCompra")" class="hide new-page" target="_blank"></a>


<div class="modal fade" id="modal-informar-local-entrega" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Informar Local de Entrega
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form name="cadLocalEntrega" id="cadLocalEntrega">
                    <input class="form-control" id="NotaFiscalCompraId" type="hidden" name="NotaFiscalCompraId" value="">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="simpleinput">Local Entrega</label>
                                <select class="form-control select2-select" name="LocalEntregaID" asp-items="@ViewBag.ListaLocalEntrega">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-salvar-local-entrega">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-importacao-xml" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Importação XML
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadImportacaoXML" enctype="multipart/form-data" >

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Arquivo</label>
                                <div class="custom-file">
                                    <input type="file" name="customFile" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Selecionar Arquivo</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-salvar-importacao">Salvar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var UrlBase = '@Url.Action("Index", "Motorista")';
    </script>
    <script asp-append-version="true" src="~/js/Util.js"></script>
    <script asp-append-version="true" src="~/js/NotaFiscalCompra.js"></script>
    <script asp-append-version="true" src="~/js/NotaFiscalCompraAdmin.js"></script>
    <script asp-append-version="true" src="~/smartadmin/js/dependency/moment/moment.js"></script>
    <script asp-append-version="true" src="~/smartadmin/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
    <script asp-append-version="true" src="~/smartadmin/js/miscellaneous/fullcalendar/locales-all.js"></script>
    <script asp-append-version="true" src="~/js/Agenda.js"></script>
}