@model IEnumerable<Facile.BusinessPortal.Model.Fornecedor>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Fornecedores
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <!-- class="bg-highlight"-->
                    <table id="dt-registro" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>CPF/CNPJ</th>
                                <th>Codigo ERP</th>
                                <th width="30%">Nome</th>
                                <th>E-mail</th>
                                <th>Bairro</th>
                                <th>Cidade</th>
                                <th>UF</th>
                                <th width="6S%">Ações</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="modal fade" id="modal-anexo-fornecedor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Anexo Fornecedor
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadAnexoFornecedor" name="cadAnexoFornecedor" enctype="multipart/form-data">

                    <input name="FornecedorID" type="hidden" value="" />
                    <div class="row mt-2 text-right">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed btn-novo-anexo">Novo Anexo</button>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <table class="table" id="tabela-novo-anexo">
                            <thead>
                                <tr>
                                    <th>Anexo</th>
                                    <th width="12%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>


                </form>

                <div class="row mt-3">
                    <div class="col-md-12 ml-sm-auto">
                        <div class="alert alert-info hide" role="alert">
                            <strong class="info-alteracao"></strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-salvar-documento">Salvar</button>
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade" id="modal-acoes-fidc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Ações FIDC
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadAcoesFIDCFornecedor" name="cadAcoesFIDCFornecedor" enctype="multipart/form-data">

                    <input name="FornecedorID" type="hidden" value="" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="FIDCAtivo">FIDC Ativo?</label>
                                <select name="FIDCAtivo" class="form-control">
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="AntecipaServico">Antecipa NF Serviço?</label>
                                <select name="AntecipaServico" class="form-control">
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 text-right">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed btn-novo-anexo">Novo Anexo</button>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table" id="tabela-novo-anexo">
                                    <thead>
                                        <tr>
                                            <th>Anexo</th>
                                            <th width="12%"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>

                </form>

                <div class="row mt-3">
                    <div class="col-md-12 ml-sm-auto">
                        <div class="alert alert-info hide" role="alert">
                            <strong class="info-alteracao"></strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-salvar-anexo-fidc">Salvar Anexo Pasta FIDC</button>
                <button type="button" class="btn btn-success btn-salvar-acoes-fidc">Salvar</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="FieldSearch" value="">
@section Scripts {
    <script src="~/js/Util.js" asp-append-version="true"></script>
    <script src="~/js/Fornecedor.js" asp-append-version="true"></script>
}