@model Facile.BusinessPortal.Model.Usuario
@using Facile.BusinessPortal.Model


@{
    ViewData["Title"] = "Usuário";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-action="Index">Listagem</a>
    </li>
    <li class="breadcrumb-item active">usuário</li>
</ol>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Editar Usuário
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="FormCad" accept-charset="UTF-8" asp-action="Edit" method="POST">
                        <input asp-for="ID" type="hidden" id="">
                        <input asp-for="EmpresaID" type="hidden" id="">
                        <input asp-for="UserId" type="hidden" id="">

                        @if (ViewContext.ViewData.ModelState.ErrorCount > 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                @foreach (var item in ViewContext.ViewData.ModelState)
                                {
                                    if (item.Value.Errors.Any())
                                    {
                                        <p>@(string.Join("", item.Value.Errors.Select(x => x.ErrorMessage)))</p>
                                    }
                                }
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">CPF</label>
                                    <input asp-for="CPF" disabled type="text" id="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Nome</label>
                                    <input asp-for="Nome" type="text" id="" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">E-mail</label>
                                    <input asp-for="Email" type="text" id="" class="form-control">
                                </div>
                            </div>
                            @*<div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="simpleinput">Senha</label>
                    <input asp-for="Senha" type="password" id="" class="form-control">
                </div>
            </div>*@
                            <
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="custom-control custom-checkbox mr-2 mr-lg-2 d-inline-block">
                                    <input asp-for="Habilitado" type="checkbox" class="custom-control-input" id="Habilitado">
                                    <label class="custom-control-label bolder" for="Habilitado"> Habilitado</label>
                                </div>
                            </div>
                        </div>

                        <div class="row  mt-2">
                            <div class="col-md-12">
                                <h4 class="row">
                                    <span class="col-md-12">Grupos Usuários</span>
                                </h4>
                            </div>
                        </div>

                        <div class="row mt-2">
                            @{
                                int i = 0;
                                var list = Model.UsuarioGrupo.Select(x => x.GrupoUsuarioID).ToList();
                                foreach (var o in ViewBag.ListaGrupo)
                                {
                                    string Checked = "";
                                    if (list.Contains(o.ID))
                                    {
                                        Checked = "checked";
                                    }
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox mr-2 mr-lg-2 d-inline-block">
                                            <input @Checked class="custom-control-input" value="@o.ID" name="GrupoUsuarioID" id="GrupoUsuarioID@(i)" type="checkbox">
                                            <label class="custom-control-label bolder" for="GrupoUsuarioID@(i)"> @o.Nome</label>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        </div>

                        <div class="row mt-2 text-right">
                            <div class="col-md-12">
                                <a asp-action="Index" class="btn btn-secondary shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed">Listagem</a>
                                <button type="submit" class="btn btn-success shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed">Salvar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
             $('input[name="CPF"]').attr('disabled', true);
            $('input[name="Habilitado"]').on('click',
                function () {
                    $(this).val($(this).prop('checked'));
                }
            );

            $('#FormCad').on('submit', function () {
                $('input[name="CPF"]').attr('disabled', false);
            });   
        });
    </script>
}