@{
    ViewData["Title"] = "Grupo Acesso";
}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Grupo de acesso
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div style="margin:0px 5px 5px 5px;">
                        <label for="Nome" style="float:left; margin-top:7px;">Nome:</label>
                        <input type="text" id="NomeGrupo" name="NomeGrupo" maxlength="50" class="form-control" style="width:30%; float:left; margin:0px 5px 5px 5px;">
                        <button class="btn btn-outline-primary waves-effect waves-themed" tabindex="0" aria-controls="dt-registro" type="button"><span><i class="fal fa-handshake mr-1"></i> Salvar</span></button>
                    </div>

                    <table id="dt-registro" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Código</th>
                                <th>Nome Grupo</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="getClick" id="0001">
                                <th>0001</th>
                                <th>Grupo A</th>
                                <th><h4><span class="badge badge-success">Ativo</span></h4></th>
                                <th class="sorting_1">
                                    <a href="/adminempresa/grupoacesso/edit/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-edit color-fusion-300"></i>
                                    </a>
                                    <a href="/adminempresa/grupoacesso/delete/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-trash-alt color-fusion-300"></i>
                                    </a>
                                </th>
                            </tr>
                            <tr class="getClick" id="0002">
                                <th>0002</th>
                                <th>Grupo B</th>
                                <th><h4><span class="badge badge-success">Ativo</span></h4></th>
                                <th class="sorting_1">
                                    <a href="/adminempresa/grupoacesso/edit/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-edit color-fusion-300"></i>
                                    </a>
                                    <a href="/adminempresa/grupoacesso/delete/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-trash-alt color-fusion-300"></i>
                                    </a>
                                </th>
                            </tr>
                            <tr class="getClick" id="0003">
                                <th>0003</th>
                                <th>Grupo C</th>
                                <th><h4><span class="badge badge-success">Ativo</span></h4></th>
                                <th class="sorting_1">
                                    <a href="/adminempresa/grupoacesso/edit/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-edit color-fusion-300"></i>
                                    </a>
                                    <a href="/adminempresa/grupoacesso/delete/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-trash-alt color-fusion-300"></i>
                                    </a>
                                </th>
                            </tr>
                            <tr class="getClick" id="0004">
                                <th>0004</th>
                                <th>Grupo D</th>
                                <th><h4><span class="badge badge-success">Ativo</span></h4></th>
                                <th class="sorting_1">
                                    <a href="/adminempresa/grupoacesso/edit/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-edit color-fusion-300"></i>
                                    </a>
                                    <a href="/adminempresa/grupoacesso/delete/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-trash-alt color-fusion-300"></i>
                                    </a>
                                </th>
                            </tr>
                            <tr class="getClick" id="0005">
                                <th>0005</th>
                                <th>Grupo E</th>                                
                                <th><h4><span class="badge badge-danger">Inativo</span></h4></th>
                                <th class="sorting_1">
                                    <a href="/adminempresa/grupoacesso/edit/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-edit color-fusion-300"></i>
                                    </a>
                                    <a href="/adminempresa/grupoacesso/delete/23815" class="btn btn-icon fs-xl waves-effect waves-themed">
                                        <i class="fal fa-trash-alt color-fusion-300"></i>
                                    </a>
                                </th>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Util.js" asp-append-version="true"></script>
    <script src="~/js/GrupoAcesso.js" asp-append-version="true"></script>
}